<div class="workout-name">{{workout.exercise.name}}</div>

{{#if isEditing}}
<div>
    <ul class="sets">
    {{#each workout.setItems as |set|}}
    <li data-set-number="{{set.id}}"><div>Set {{set.id}}</div>{{input class="rep-count" value=set.reps}}{{#if workout.exercise.showWeight}} @ {{input value=set.weight class="rep-weight"}} kg{{/if}}</li>
    {{/each}}
    </ul>
    <button{{action "saveWorkout"}} class="button button-save">{{fa-icon "cloud"}} Save</button>
</div>
{{else}}
<div {{action "edit" workout}}>
    <div class="showSets">Sets: {{workout.sets}}</div>
    <div class="showReps">Reps: {{workout.reps}}</div>
</div>
{{/if}}
